


li{
    list-style: none;
    display: inline-block;  
    
}
body{
    font-size: 67.5%;
    padding:0;
    margin: 0;
    -webkit-background-size:100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size:100% 100%

}
#wrapper{
    margin-right: auto;
    margin-left: auto;
    width: 100vw;

}

/* ----------------Nav------------------------------------ */
#site-logo{
    margin: 3px;
}


nav{
    width:100%;
    text-align: right;
        display:flex;
    flex-direction: row;
  
}

#site-nav, #user-login{
    float:right;
    position: relative;
    right: 10em;
    margin-top: 3em;

    } 
#site-nav{
    text-align: center;
    margin-left: 1em;
    top:-2em;
}
.nav-item{
    margin-left: 10em;
    font-size: 20px;
    line-height: 2em;
       
}
.nav-item a, .user-item a{
    color:#0f4c5c; 
    text-decoration: none;
}
.nav-item a:hover, .user-item a:hover{
    color:#e36414;  
}

.user-item{
    margin-left: 15px;
}
.user-item a{
    font-size: 1.7em;
}
/* ----------------Main------------------------------------ */
/* #main{
    margin: 0 0 2.0em;
    padding: 1.5em 0 2.0em 1.5em;
    display: inline-block;
}

#mainImg{
    margin-top: 1em;
    margin-left:15%;
    width: 35vw;
    height: 47vh;
    position: relative;
    z-index: 1; 
    left:17em;
    top:3em;
} */

/* #main{
    position: relative;
    top:1em
} */
#mainImg{
    margin-top: 1em;
    margin-left:15%;
    width: 35vw;
    height: 47vh;
    position: relative;
    z-index: 1; 
    left:4em;
    top:3em;
}


#main-design-accent{
    display:flex;
    flex-direction: column;
    background-color: #e36414;
    position: relative;
    z-index: initial;
    width: 15vw;
    height: 3.5em;
    margin-left:25%;
    top: 5em;
    left:8em;  
}

#main-text-box{
    display:flex;
    flex-direction: column;
    background-color: #e36414;

    position: relative;
    z-index: 2;
    width: 26vw;
    height: 30vh;
    opacity: .7;
    top:-25em;
    left:50%;
    padding: 5px;

  
}

.main-head{
    text-align: center;
    justify-content: left;
    color:#e7e7e7;
 


}
.main-text{
    
  width: fit-content;

    z-index: 3;
    padding-left: 6%;
    padding-right: 6%;
    color:#e7e7e7;
   
    
}

#button1{
    background-color: #0f4c5c;
   position: relative;
    display:inline-block;
    left: 40%;
    width: 6em;
   
}

#icons{
    display:flex;
    flex-direction: row;
    text-align: center;
    
}

i{
    width: 100%;
    color:#e36414;
    position: relative;
    top:-7em
}


#adopt, #foster, #volunteer, #donate{
    height: 3em;
    width: 3em;
    position: relative;
    background-color:#0f4c5c ;
    border-radius:100%;
    padding: 1em;
    
   
}
#adopt{
    top: -2em;
    left: 4em;
    
    
}
#foster{
    top: -2em;
    left: 4em;
}
#volunteer{
    top: -2em;
    left: 5em;
}
#donate{
    top: -2em;
    left: 4em;
}
/* ----------------Collage------------------------------------ */
#collage-container{
  
    text-align: center;
    position: relative;
    top:7em;
    margin-bottom: 5em;
    margin-top: 3%;
}

#collage-background{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #f9c784;
    width: 60px;
    max-width: 60vw;
    min-width: 30vw;
    height: 30vh;
    position: absolute;
    z-index: initial;
    left: 22em;
    top:2em;
  
}
 #collage-text-box{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5em;
    left:8em;
    
    margin-right: 8em;     
}


#collage-title{
    display: flex;
    flex-direction: row;
    position:relative;
    bottom: 5em;
    left:18em;
    color:#e36414;

    
}
#collage-text{
    position:absolute;
    bottom: -1em;
    left:16em;
    z-index:4;
    color:#0f4c5c;
   
    background-color:#e7e7e7 ;
    padding: 18px;

}


#cat1, #dog2, #dog3{
    position: relative;
}

#cat1{
    height: 32vh;
    width: 23vw;
    z-index: 3;
    bottom:3em;
    left:5em;
    margin-bottom:1em
}

#dog2{
    
    height: 35vh;
    width: 37vw;
    z-index: 2;
    bottom:17em;
    right:4em;    
}

#dog3{
    height: 50vh;
    width: 20vw;
    z-index: 1;
    top:7em;
    right:7em;
}
/* ----------------Flex cards------------------------------------ */


   /* background-color:#e7e7e7 ; */
    /* background-color: #f9c784; */
    /* background-color: #e36414;
    opacity: .5;
    z-index: initial;
} */
/* #box1, #box2{
    height:15em;
    width: 15em;
}

#box1{
    background-color:#0f4c5c; 
    position: relative;
    bottom: -16em;
    left:58em;
    z-index: 1;
}

#box2{
    background-color:#e36414;
    position: relative;
    bottom: -3em;
    left:55em;
    z-index:2;
}
#box2 h2{
    position: relative;
    text-align: center;
    top:2em;
    color:#e7e7e7 ;
    font-size: 30px;
} */


#flex-cards-container{
    /* body */
   
    display:flex;
    flex-direction: row;
    align-items: stretch;
    
    overflow: hidden;
    
    min-width: 400px;
    max-width: 900px;
    width:40vw;
    height: 400px;
    
    margin-left:18% ;
  

    position: relative;
    top:15em;
    
    left:-1em;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* transition: .25s; */
}
#display-all{
    background-image: url('assests/all.jpeg') ;
    
}
#display-dogs{
    background-image: url('assests/groupdogs.jpeg');
  
}
#display-cats{
    background-image: url('assests/1-11.jpeg');
    
}
.option{
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    border: 0px solid black;
    background-size: auto 120%;
    background-position: center;

    cursor: pointer;
    transition:.5s cubic-bezier(.58,.5,.83,.67)
}
.option.active{
    flex-grow:6;
    /* transform:scale(1); */
    max-width: 600px;
    margin:0px;
    border-radius: 40px;
    background-size: auto 100%;
    transition:.5s cubic-bezier(.58,.5,.83,.67);
}

.option.active.shadow{
    box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;

}

.option.active.label{
    background-color: brown;
    position: relative;
    bottom: -22em;
    left: 20px;
    opacity: 1;
}
/* .option.active.info>div{
    left:0px;
    opacity: 1;
}
.info>div:active{
    transform: scale(0.9);
} */

.option:not(.active){
    flex-grow: 1;
    border-radius: 30px;
} 

.option:not(.active.shadow){
    bottom:0px;
    box-shadow:inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black; } */

/* .option:not(.active .label){
        bottom: -10px;
        left:10px;
    } 
.option:not(.active.info){
        left:20px;
    }     */

.shadow {
        position: absolute;
        bottom:0px;
        left:0px;
        right:0px;
        
        height:120px;
        
        transition:5s cubic-bezier(.58,.5,.83,.67);
     }
     
.label {
        display:flex;
        position: absolute;
        right:0px;
        bottom: 10px;

        height:40px;
        transition:5s cubic-bezier(.58,.5,.83,.67);}
        
.icon {
           display:flex;
           flex-direction:row;
           justify-content:center;
           align-items:center;
           
           min-width:40px;
           max-width:40px;
           height:40px;
           border-radius:100%;

           background-color:white;
           color:var(--defaultBackground);
        }
        
.info {
           display:flex;
           flex-direction:column;
           justify-content:center;
           
           margin-left:10px;
           
           color:white;
           
           white-space: pre;}
        
.primary{
    font-weight: bold;
    font-size: 1.2rem;
}

/* ----------------Footer------------------------------------ */



/* ul#logoGroup li{

margin-left: 15px;
margin-right: 15px;
} */


/* footer{
    
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color:#0f4c5c; 
    bottom:0
    

} */

/* --------------------------------------------------------- */


/* --------------------------------------------------------- */





